In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.11.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.11.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 17.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11.3

In [3]:
import pymongo
from pymongo.mongo_client import MongoClient

CONNECTION_STRING = "mongodb+srv://bigdata_ghibran:1@ghibranti23a.otb7w.mongodb.net/?retryWrites=true&w=majority&appName=ghibranti23a"

# Create a new client and connect to the server
client = MongoClient(CONNECTION_STRING)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("✅ Koneksi ke MongoDB berhasil!")
except Exception as e:
    print(f"❌ Gagal terhubung ke MongoDB: {e}")

✅ Koneksi ke MongoDB berhasil!

In [4]:
db = client["TokoOnline"]

# Pilih collection untuk katalog produk
produk_collection = db["KatalogSepatu"]

In [5]:
# Daftar produk sepatu dengan spesifikasi lengkap
produk_list = [
    {"nama": "Nike Air Force 1", "kategori": "Sepatu", "harga": 1500000, "stok": 10,
     "ukuran": "39,40,41,42,43", "warna": "Putih", "merek": "Nike"},

    {"nama": "Adidas Ultraboost 22", "kategori": "Sepatu", "harga": 1800000, "stok": 15,
     "ukuran": "38,39,40,41,42", "warna": "Hitam", "merek": "Adidas"},

    {"nama": "Puma Future Rider", "kategori": "Sepatu", "harga": 1200000, "stok": 8,
     "ukuran": "37,38,39,40,41", "warna": "Merah-Biru", "merek": "Puma"},

    {"nama": "Vans Old Skool", "kategori": "Sepatu", "harga": 900000, "stok": 20,
     "ukuran": "36,37,38,39,40", "warna": "Hitam-Putih", "merek": "Vans"},

    {"nama": "Converse Chuck Taylor All Star", "kategori": "Sepatu", "harga": 850000, "stok": 18,
     "ukuran": "35,36,37,38,39", "warna": "Putih", "merek": "Converse"},
]

# Tambahkan ke database MongoDB
produk_collection.insert_many(produk_list)

print("✅ Produk berhasil ditambahkan!")

✅ Produk berhasil ditambahkan!

In [6]:
for produk in produk_collection.find({"kategori": "Sepatu"}):
    print(produk)

{'_id': ObjectId('67d5884b9cd63abde345e38a'), 'nama': 'Vans', 'harga': 350000, 'kategori': 'Sepatu', 'stok': 13}
{'_id': ObjectId('67d588d69cd63abde345e38c'), 'nama': 'Sepatu kaca', 'harga': 21, 'kategori': 'Sepatu', 'stok': 10}
{'_id': ObjectId('67d9b47f6a597d371e179d27'), 'nama': 'Nike Air Force 1', 'kategori': 'Sepatu', 'harga': 1500000, 'stok': 10, 'ukuran': '39,40,41,42,43', 'warna': 'Putih', 'merek': 'Nike'}
{'_id': ObjectId('67d9b47f6a597d371e179d28'), 'nama': 'Adidas Ultraboost 22', 'kategori': 'Sepatu', 'harga': 1800000, 'stok': 15, 'ukuran': '38,39,40,41,42', 'warna': 'Hitam', 'merek': 'Adidas'}
{'_id': ObjectId('67d9b47f6a597d371e179d29'), 'nama': 'Puma Future Rider', 'kategori': 'Sepatu', 'harga': 1200000, 'stok': 8, 'ukuran': '37,38,39,40,41', 'warna': 'Merah-Biru', 'merek': 'Puma'}
{'_id': ObjectId('67d9b47f6a597d371e179d2a'), 'nama': 'Vans Old Skool', 'kategori': 'Sepatu', 'harga': 900000, 'stok': 20, 'ukuran': '36,37,38,39,40', 'warna': 'Hitam-Putih', 'merek': 'Vans'}
{'_id': ObjectId('67d9b47f6a597d371e179d2b'), 'nama': 'Converse Chuck Taylor All Star', 'kategori': 'Sepatu', 'harga': 850000, 'stok': 18, 'ukuran': '35,36,37,38,39', 'warna': 'Putih', 'merek': 'Converse'}